@{
    ViewBag.Title = "Список тестов";
    List<CourseManagementSystem.Models.Lecture> lects = ViewBag.Lectures;
    int testId = 0;
}

@model IEnumerable<CourseManagementSystem.Models.Test>

<h2>Тесты</h2>
<h4>Имя лекции</h4>
@if (Model.Count() > 0)
{
    <table class="table">
        @foreach (var item in lects)
        {
            foreach (var i in Model)
            {
                if (i.Lecture == item)
                {
                    testId = i.Id;
                }
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)

                </td>
                <td>
                    @Html.ActionLink("Подробнее", "QuestionsList", new { lectId = item.Id }) |



                    @Html.ActionLink("Удалить", "Delete", new { id = testId })
                </td>
            </tr>
        }

    </table>
}
else
{
    <hr />
    <p style="color:#808080; text-align:left">
        Здесь пока ещё нет тестов
    </p>
}
